<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ .Title }} - Hola</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/css/base.css" | relURL }}">
    <link rel="stylesheet" href="{{ "/css/vendor.css" | relURL }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | relURL }}">
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>

<body id="top">

    <!-- Header -->
    <header class="s-header">
        <div class="header-logo">
            <a class="site-logo" href="{{ "/" | relURL }}"><img src="{{ "images/logo.png" | relURL }}" alt="Homepage"></a>
        </div>

        <nav class="header-nav-wrap">
            <ul class="header-nav">
                <li><a href="{{ "/" | relURL }}#home" title="home">Home</a></li>
                <li><a href="{{ "/" | relURL }}#about" title="about">About</a></li>
                <li><a href="{{ "/" | relURL }}#works" title="works">Works</a></li>
                <li class="current"><a href="{{ "/blog/" | relURL }}" title="blog">Blog</a></li>
                <li><a href="{{ "/" | relURL }}#contact" title="contact">Contact</a></li>
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#0"><span>Menu</span></a>
    </header>

    <!-- Page Header -->
    <!-- <section class="page-header page-hero" style="background-image:url({{ "images/blog/blog-bg-01.jpg" }})"> -->
    <section class="page-header page-hero" style="background-image: url('{{ "images/blog/blog-bg-01.jpg" | relURL }}')">

        <div class="row page-header__content">
            <article class="col-full">
                <h1 class="page-header__title">Blog</h1>
            </article>
        </div>
    </section>

    <!-- Blog Posts -->
    <section class="blog-content-wrap">
        <div class="row blog-content">
            <div class="col-full">
                <div class="blog-list block-1-2 block-tab-full">
                    {{ range .Pages }}
                    <article class="col-block">
                        <div class="blog-date">
                            <a href="{{ .Permalink }}">{{ .Date.Format "Jan 02, 2006" }}</a>
                        </div>
                        <h2 class="h01"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                        <p>{{ .Summary }}</p>
                        <div class="blog-cat">
                            {{ range .Params.tags }}
                            <a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
                            {{ end }}
                        </div>
                    </article>
                    {{ end }}
                </div>
            </div>
        </div>
        <div class="row blog-entries-nav">
            <div class="col-full">
                {{ if .Paginator.HasPrev }}
                <a href="{{ .Paginator.Prev.URL }}" class="btn btn--stroke">
                    <i class="im im-arrow-left"></i> Prev
                </a>
                {{ end }}
        
                {{ if .Paginator.HasNext }}
                <a href="{{ .Paginator.Next.URL }}" class="btn btn--stroke">
                    Next <i class="im im-arrow-right"></i>
                </a>
                {{ end }}
            </div>
        </div>
        
    </section>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-full">
                <div class="footer-logo">
                    <a class="footer-site-logo" href="{{ "/" | relURL }}"><img src="{{ "images/logo.png" | relURL }}" alt="Homepage"></a>
                </div>
                <ul class="footer-social">
                    <li><a href="#0"><i class="im im-facebook"></i><span>Facebook</span></a></li>
                    <li><a href="#0"><i class="im im-twitter"></i><span>Twitter</span></a></li>
                    <li><a href="#0"><i class="im im-instagram"></i><span>Instagram</span></a></li>
                    <li><a href="#0"><i class="im im-behance"></i><span>Behance</span></a></li>
                    <li><a href="#0"><i class="im im-pinterest"></i><span>Pinterest</span></a></li>
                </ul>
            </div>
        </div>
    </footer>

    <div id="preloader">
        <div id="loader"></div>
    </div>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>

</html>
