{{ define "main" }}

<!-- page header -->
<section class="page-header page-hero" style="background-image:url({{ "images/blog/blog-bg-01.jpg" | relURL }})">

    <div class="row page-header__content">
        <article class="col-full">
            <h1 class="page-header__title">Blog</h1>
            <p>Welcome to my blog! Explore my latest posts below.</p>
        </article>
    </div>

</section> <!-- end page-header -->


<!-- blog posts -->
<section class="blog-content-wrap">

    <div class="row blog-content">
        <div class="col-full">
            <div class="blog-list block-1-2 block-tab-full">

                {{ range .Paginator.Pages }}
                <article class="col-block">
                    
                    <div class="blog-date">
                        <a href="{{ .Permalink }}">{{ .Date.Format "Jan 02, 2006" }}</a>
                    </div>  

                    <h2 class="h01"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                    <p>{{ .Summary }}</p>

                    <div class="blog-cat">
                        {{ range .Params.categories }}
                        <a href="{{ "categories/" | relURL }}{{ . | urlize }}">{{ . }}</a>
                        {{ end }}
                    </div>

                </article>
                {{ end }}

            </div> <!-- end blog-list -->
        </div> <!-- end col-full -->
    </div> <!-- end blog-content -->

    <!-- Pagination -->
    <div class="row blog-entries-nav">
        <div class="col-full">
            {{ if .Paginator.HasPrev }}
                <a href="{{ .Paginator.Prev.URL }}" class="btn btn--stroke">
                    <i class="im im-arrow-left"></i> Prev
                </a>
            {{ end }}

            {{ if .Paginator.HasNext }}
                <a href="{{ .Paginator.Next.URL }}" class="btn btn--stroke">
                    Next <i class="im im-arrow-right"></i>
                </a>
            {{ end }}
        </div>
    </div>

</section> <!-- end blog-content-wrap -->

{{ end }}
