<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} - Hola</title>
    <meta name="description" content="{{ .Summary }}">
    <meta name="author" content="{{ .Params.author }}">

    <link rel="stylesheet" href="{{ "/css/base.css" | relURL }}">
    <link rel="stylesheet" href="{{ "/css/vendor.css" | relURL }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | relURL }}">

    <script src="{{ "/js/modernizr.js" | relURL }}"></script>
    <script src="{{ "/js/pace.min.js" | relURL }}"></script>
    <link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}" type="image/x-icon">
    <link rel="icon" href="{{ "favicon.ico" | relURL }}" type="image/x-icon">
</head>

<body id="top">

    {{ partial "header.html" . }}

    <article class="blog-single">

        <div class="page-header page-header--single page-hero" style="background-image:url({{ .Params.hero_image | default "/images/blog/blog-bg-02.jpg" }})">
            <div class="row page-header__content narrow">
                <article class="col-full">
                    <div class="page-header__info">
                        <div class="page-header__cat">
                            {{ range .Params.categories }}<a href="{{ "/categories" | relURL }}">{{ . }}</a>{{ end }}
                        </div>
                    </div>
                    <h1 class="page-header__title">
                        {{ .Title }}
                    </h1>
                    <ul class="page-header__meta">
                        <li class="date">{{ .Date.Format "January 2, 2006" }}</li>
                        <li class="author">
                            By <span>{{ .Params.author }}</span>
                        </li>
                    </ul>
                </article>
            </div>
        </div>

        <div class="row blog-content">
            <div class="col-full blog-content__main">
                {{ .Content }}
                {{ with .Params.images }}
                    <img src="{{ . }}" alt="">
                {{ end }}

                {{ range .Params.tags }}
                    <span>{{ . }}</span>
                {{ end }}
            </div>
        </div>

    </article>


    {{ partial "footer.html" . }}
    <div id="preloader"> 
        <div id="loader"></div>
    </div>

    <script src="{{ "/js/jquery-3.2.1.min.js" | relURL }}"></script>
    <script src="{{ "/js/plugins.js" | relURL }}"></script>
    <script src="{{ "/js/main.js" | relURL }}"></script>

</body>
</html>
